# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Environment variables
.env
secrets.json

# Twilio credentials
twilio_creds.*

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Temp files
*.tmp
*.temp
